/**					
		File version: 	1.0.0
		Autor: 		Denis Sheremet
		Contact author:	
					zaycakitayca@xaker.ru
					https://vk.com/zaycakitayca
**/


@import 'defs/config';
@import 'defs/mixins';

/************************************************************************************************/

.w-100-vw {
	width: 100vw;
}

/************************************************************************************************/

.head-button {
	box-shadow: inset 0 -.5rem 0 .5rem #2f87c2, inset 0 -.5rem 0 1.5rem #3aa9f2;
}

/************************************************************************************************/

.slider-width {
	max-width: 100vw;
}

#main_slider_pagination {
	.swiper-pagination-bullet {
		&.swiper-pagination-bullet-active {
			box-shadow: 0 0 0 1rem;
		}
		&:not(.swiper-pagination-bullet-active) {
			background-color: #3e3f40;
			opacity: .5;
			box-shadow: 0 0 0 3rem #3e3f40;
		}
	}
}

.main-slider-button {
	&:hover {
		:first-child {opacity: 0;}
	}
	&:not(:hover) {
		:last-child {opacity: 0;}
	}
}

.slider-form {
	background-image: url(../img/slider/form-bg.png);
}

/************************************************************************************************/

.default-title {
	&:after {
		content: url(../img/ico/lines.png);
		width: 52rem;
	}
}
.default-list {
	li {
		padding-left: 13rem;
		position: relative;
		&:before {
			content: url(../img/ico/li.png);
			position: absolute;
			margin-left: -13rem;
			top: 0;
			width: 6rem;
		}
	}
	&.default-list-hack {
		li {
			padding-left: 0;
			padding-right: 13rem;
			left: 13rem;
		}
	}
}

.default-list-ok {
	li {
		padding-left: 21rem;
		position: relative;
		&:before {
			content: url(../img/ico/li_ok.png);
			position: absolute;
			margin-left: -21rem;
			top: 0;
			width: 14rem;
		}
	}
	&.default-list-hack {
		li {
			padding-left: 0;
			padding-right: 21rem;
			left: 21rem;
		}
	}
}

/************************************************************************************************/

.separator-bg {
	background-image: url(../img/separator.png);
}
.circle-bg {
	background-image: url(../img/circle.png);
}

.form-bg {
	background-image: url(../img/form/bg.png);
}

.pattern-bg {
	background-image: url(../img/pattern.png);
}

.footer-bg {
	background-image: url(../img/footer/bg.jpg);
}

/************************************************************************************************/

.project-holder {
	box-shadow: 0 0 30rem 0 rgba(0,0,0,.05);
}

/************************************************************************************************/

.cert-img-container {
	&:after {
		content: '';
		display: block;
		position: absolute;
		z-index: -1;
		width: 165rem;
		height: 240rem;
		top: 25rem;
		left: #{-$design-width}rem;
		right: #{-$design-width}rem;
		margin: auto;
		box-shadow: 0 10rem 10rem -10rem rgba(0,0,0,.3);
	}
}

/************************************************************************************************/

.map-shadows {
	&:before {
		content: '';
		display: block;
		position: absolute;
		left: #{-$design-width}rem;
		right: #{-$design-width}rem;
		top: 0;
		bottom: 0;
		box-shadow: inset 0 1rem 10rem 0 rgba(0,0,0,.3);
	}
}